* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  row-gap: 100px;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.tip {
  color: white;
  font-size: 80px;
}

.tip-calculator {
  width: 400px;
  height: 335.5px;
  padding: 16px;
  column-gap: 12px;
  border-radius: 26px;
  background-color: white;
}

.section {
  height: 100%;
  display: flex;
  row-gap: 10px;
  padding: 26px 16px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #03958a;
}
p {
  font-size: 18px;
  color: #01464b;
  margin-bottom: 4px;
}
.bill-input {
  padding: 8px;
  display: flex;
  column-gap: 12px;
  border-radius: 4px;
  background-color: #f3f8fa;
}
.bill-input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.tips {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  width: 70px;
  height: 35px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #01464b;
  border-radius: 4px;
}
#reset-button {
  height: 30px;
  width: 336px;
  border: none;
  border-radius: 4px;
}
