* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f6;
}

.container {
  width: 700px;
  height: 400px;
  display: flex;
  row-gap: 30px;
  color: white;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  background-color: #2d123b;
}

.title {
  font-size: 18px;
}
#timer {
  font-size: 100px;
}

#buttons {
  display: flex;
  column-gap: 16px;
}

button {
  width: 130px;
  height: 40px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 9999px;
}

#buttons button:hover {
  color: white;
  background-color: #e67cd9;
}
